/* FONTES */
$fonte-principal: "Arial", sans-serif;
$fonte-secundaria: "Times New Roman", serif;
$pequena: 14px;
$media: 18px;
$grande: 24px;
$extra-grande: 32px;

/* CORES */
$cor-principal: #3D405B;
$cor-secundaria: #E07A5F;
$branco: #FFFFFF;
$off-white: #F4F1DE;
$cinza: #D3D3D3;
$preto: #000000;