<div class="container">
    <h1>Bem vindos ao site da Imobiliaria 1141!</h1>
    <mat-grid-list cols="3" rowHeight="3:4">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://pictures.escapia.com/HARDRE/202545/4003810267.jpg" alt="Foto Casa Magnífica" />
                <mat-card-content>
                  <h2>Casa Magnífica</h2>
                  <ul>
                    <li>4 quartos</li>
                    <li>4 banheiros</li>
                    <li>Metragem: 200m</li>
                    <li>Preço: R$ 1.200.000,00</li>
                  </ul>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Mais Detalhes</button>
                  <button mat-button>Favoritar</button>
                </mat-card-actions>
              </mat-card>              
        </mat-grid-tile>
    </mat-grid-list>    
</div>
